* {
    padding: 0;
    margin: 0;
    
  }
   header {
    background: black;
    width: 100%;
    position: fixed;
    z-index: 10000;
  }
  nav {
    float: left;
    clear: both
    }
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  nav ul li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    float: left;
  }
  nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: darkorange;
  }
  nav ul li:hover {
    background-color: #6e6e6e;
  } */
  .Barra {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  section img {
      width: 180px;
  }
  body {
      background: url(./photo-1608922804825-b546ae16006b.avif) no-repeat;
      background-size: cover;
  }
  .caja{
      width: 500px;
      background: rgba(0, 0, 0, .4);
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      color: aliceblue;
      text-align: center;
  }
  section h1,h2,p {
    font-family: 'Pattaya', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
  .cajaimg{
      border-radius: 50%;
}
  .caja h1{
     font-size: 60px;
     margin-top: 10px;
     margin-bottom: 5px;

}
