.Barra {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  section img {
      width: 180px;
  }
  body {
      background: url(./photo-1608922804825-b546ae16006b.avif) no-repeat;
      background-size: cover;
  }
  
  .caja{
      width: 570px;
      background: rgba(0, 0, 0, .4);
      margin: 0 auto;
      margin-top: 40px;
      padding: 20px;
      color: aliceblue;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    }
  section h1,h2 {
    font-family: 'Ballet', cursive;
    font-family: 'Ms Madi', cursive
    
  }
  h2{
      font-size: 45px;
      margin-bottom: auto;
      margin-top: auto;
  }
  p{
     font-size: 35px;
     font-weight: 300;
     font-family: 'Ballet', cursive;
     font-family: 'Indie Flower', cursive;
     font-family: 'Ms Madi', cursive;
     font-family: 'My Soul', cursive;
     font-family: 'Square Peg', cursive;
  }
  .cajaimg{
      border-radius: 50%;
}
  .caja h1{
     font-size: 60px;
     margin-top: 5px;
     margin-bottom: 5px;

}
.nav ul {
    overflow: hidden;
    text-align: center;
}

.nav ul li a {
    display: block;
    padding: 5px;
    
}
.nav ul li:hover {
     background: rgba(0, 0, 0, .4);
     box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}
.nav {
    
    width: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.nav li {
    list-style: none;
    
}
.nav li a {
    color: whitesmoke;
    text-decoration: none;
}
.nav ul li {
    font-size: 60px;
    font-family: 'Ballet', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Square Peg', cursive;
}
p, a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
}
.buttons {
    margin-left: 578px;
    
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    color: orange;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: 10px;
  }

  .buttons a:hover {
    transform: scale(1.2);
  }
  
  