body {
    background: url(./photo-1608922804825-b546ae16006b.avif) no-repeat;
    background-size: cover;
}
.nav {
    margin-right: 100px;
}
.nav ul {
    text-align: center;
    list-style: none;
}
.nav ul li:hover {
    background: rgba(0, 0, 0, .4);
}
h1 {
    margin-left: 70px;
    font-size: 70px;
    color: aliceblue;
    font-family: 'Ballet', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Square Peg', cursive;
    
}
.nav li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 70px;
    font-family: 'Ballet', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Square Peg', cursive;
}
li {
    display: inline;
    margin-left: 100px;
}
.diplomas{
    
}
.diplomas img{
    display: block;
    width: 300px;
    height: 200px;
}
.diplomas li {
    font-family: cursive;
    color: aliceblue;
}
.caja {
    display: inline;
    position: relative;
    bottom: 500px;
    width: 300px;
    height: 485px;
    background: rgba(0, 0, 0, .4);
    margin: auto;
    padding: 20px;
    float: left;
    margin-left: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}