html{
     
   height:150vh;
}
body {
    background: url(./photo-1608922804825-b546ae16006b.avif) no-repeat; 
    background-size: cover;
}
.nav {
    margin-right: 100px;
}
.nav ul {
    text-align: center;
    list-style: none;
}
.nav ul li:hover {
    background: rgba(0, 0, 0, .4);
}
h1 {
    margin-top: 100px;
    margin-left: 250px;
    width: 300px;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    font-family: 'Ballet', cursive;
    font-family: 'Ms Madi', cursive;
    background: rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}
h2 {
    text-align: center;
    font-family: 'Ballet', cursive;
    font-family: 'Ms Madi', cursive;
    color: aliceblue;
    font-size: 60px;
}
.nav li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 70px;
    font-family: 'Ballet', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Square Peg', cursive;
}
.nav li {
    display: inline;
    margin-left: 100px;
}
.caja {
    display: inline;
    position: relative;
    bottom: 1047px;
    width: 600px;
    height: 588px;
    background: rgba(0, 0, 0, .4);
    margin: auto;
    margin-top: 420px;
    padding: 20px;
    float: left;
    margin-left:830px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}
.caja p {
    font-family: cursive;
    color: aliceblue;
}
.caja p a {
    color: orange;
}
.container{
      display: grid;
      grid-template-columns: auto auto;
      width: 200px;
      margin-top: px;
      margin-left: 60px;
 }
.container div img {
     width: 300px;
     margin:1em 1em .5em 1em;  
}
.container div {
    font-family: 'Ballet', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Square Peg', cursive;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
